.about-purple__mission-statement{
	position: relative;
	padding:$base*2;
	top:-200px;
    max-width: 680px;
    margin: 0 auto;
	background: white;



	&__text{
		border: 2px solid $brandColor;
		padding:$base*8;
		margin:$base*2;
	}
}