.about-purple__main-content{
	background:#f8f8f8;
	@include clearfix;

	.p1{
		margin-bottom: $base*4;
	}
}

.about-us__about-purple{
	position: relative;
	max-width:680px;
	margin: 0 auto;
	text-align:center;
	top: -120px;

	.main-wrapper{
		padding-bottom:0;
	}

	&__partnership-logos{
		max-width:150px;
		margin:0 auto $base*4 auto;
		
		svg{
			width:100%;
			height:40px;
		}
	}
}