.button{
	position:relative;
	border:2px solid $brandColor;
	text-transform:uppercase;
	font-family:$brandFont;
	padding:15px 20px 12px 20px;
	display:inline-block;
	font-weight:700;
	overflow:hidden;
	
	// Dark button styles
	&--dark{
		background:black;
		background:rgba(0,0,0,.5);
		
		&__text{
			color:white;
		}
	}

	&__text{
		position:relative;
		line-height: 22px;
		opacity:1;
		transition:transform .4s ease-in-out, opacity .1s ease-in-out;
	}

	&__first-color{
		position:absolute;
		z-index:2;
		width:100%;
		height:100%;
		top:0;
		left:0;
		transform:translate(0,-100%);
		background:#823AAA;

		transition:transform .2s ease-in-out;

		&:after{
			content:"";
			position:absolute;
			left:50%;
			right:50%;
			width:30px;
			height:35px;
			z-index:3;
			opacity:1;
			margin-left:-15px;
			background:url('images/icon-scroll-right-arrow--white.png')no-repeat;
			background-size:contain;
			transform:translate(0,-100%);

			// -webkit-transform: rotate(-90deg);
		 //    -moz-transform: rotate(-90deg);
		 //    -o-transform: rotate(-90deg);
		 //    -ms-transform: rotate(-90deg);
		 //    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		 //    transform: rotate(-90deg);

			transition:transform .4s ease-in-out, opacity .3s ease-in-out;
		}

		&:before{
			content:"";
			position:absolute;
			left:0;
			top:-100%;
			width:100%;
			height:100%;
			z-index:2;
			background:$brandColor;
			transition:transform .34s ease-in-out !important;
		}
	}


	&:hover{
		// background:$brandColor;
		color:white;

		.button__text{
			transform: translate(0,40px);
			opacity:0;
		}

		.button__first-color{
			transform:translate(0,0);

			&:after{
				transform:translate(0, 30%);
			}
			&:before{
				transform:translate(0,100%);
			}
		}
	}

	&:focus{
		border-color:#CD18AD;
		
		.button__first-color{
			&:before{
				opacity:0.6;
			}
			&:after{
				transition:transform .3s ease-in-out, opacity .3s ease-in-out;
				transform:translate(20px, 30%);
				opacity:0;
			}
		}
	}
}