

// Hamburger menu
@import "_hamburger-menu";

.header-main{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#ffffff;
    height: $base*10;
    z-index:501;
    transition: background .3s ease-in-out;
    cursor:pointer;

    &:before{
    	content:"";
    	position:absolute;
    	height:2px;
    	background:rgba(0,0,0,.1);
    	width:100%;
    	bottom:-2px;
    }

    &--active{
		background:rgba(255,255,255,1);
    }

    // Close button
	&__close-button{
		display:none;
	}

	@include breakpoint(500px){
		width:65px;
		height:100vh;
		border-bottom:none;

		// Close button
		&__close-button{
			display:block;
			position:fixed;
			left:16px;
			top:20px;
			z-index: 100;


			&__icon{
				width:30px;
				height:30px;
				fill:white;
			}
		}
	}
	@include breakpoint(600px){
		background:#404040;

		&:hover{
	    	background:white;

	    	.logo:after{
	    		color:$brandColor;
	    	}
	    }

	    &:before{
	    	display:none;
	    }

	    &--active{
			background:rgba(255,255,255,1);
	    }
	}


	&__nav{
		height: 100%;
	    padding:10px 15px;
	    position: relative;
	    z-index:10;
	    // transition: background .3s ease-in-out;

	    &__hamburger-menu{
	    	position:relative;
	    	float:right;
	    	width:40px;
	    	height:40px;

			&:after, &:before{
				content:"";
				position:absolute;
				width:26px;
				height:4px;
				right:0;
				background:$brandColor;

				transition: transform .3s ease-in-out;
			}

			&:before{
				top:13px;
			}

			&:after{
				bottom:13px;
			}

			&--active{

				&:after{
					transform:translate(0, -5px);
				}

				&:before{
					transform:translate(0, 5px);
				}
			}
	    }

	    @include breakpoint(500px){
			width: 65px;
			padding:10px;

			&__hamburger-menu{
				display:none;
			}
	    }
	}

	// & .has-solid-background{
	// 	background:white;
	// }

	.logo{
		width:110px;
		@include clearfix;

		@include breakpoint(500px){
			position:absolute;
			width:45px;
			height:180px;
			top:45%;
			bottom:50%;
			margin-top:-90px;

			&:after{
				content:attr(data-explore);
				position:absolute;
				transform:rotate(-90deg);
				bottom: -14px;
    			left: -5px;
				text-transform:uppercase;
				font-family:$brandFont;
				color:darken($lightestGrey, 20%);
				letter-spacing: 1px;
			}

			&--nav-open{
				// Style when 'exit' text is visible
				&:after{
					left: 3px;
					bottom:-5px;
				}
			}
	    }

		&__letter{
			float:left;

			&:nth-child(1){
				width: 33%;
			}
			&:nth-child(2){
				width: 27%;
			}
			&:nth-child(3){
				width: 26.1%;
			}

			@include breakpoint(500px){
				display:block;

				&:nth-child(1){
					width: 100%;
				}
				&:nth-child(2), &:nth-child(3){
					width: 86%;
					padding-left:2px;
				}
			}
		}
	}

	.has-solid-background .logo:after{
		color:darken($lightestGrey, 20%);
	}
}

