.hjb{
	@extend %center-text;
	width:100%;
	background:white;
	@include clearfix;
	
	&__title{
		@extend %center-text;
		margin-bottom: $base*3;
		font-size: 2.075em;
	}

	@include breakpoint(800px){
		float:left;
		padding: $base*8 0 0 0;
	}
	&__read-more-button{
		margin-top: $base*6;
	}
}	