.home-hero{
	@extend %center-text;
	height:100vh;
	@extend %cover;
	background:$brandColor url("images/mobile-home-hero-image.jpg");

	.main-wrapper{
		padding:0;
		margin-left:0px;
	}

	@include breakpoint(1000px){
		min-height:600px;
	}

	&__text{
		position:relative;
		@extend %text-white;
		@include vertical-align;
		z-index:12;
		
		&__title{
			@extend %uppercase;
			line-height: 0.9em;
		}

		&__tagline{
			@extend %text-white;
			font-size: 1.4em;
		}
	}

	&__video, &__grad-overlay{ 
	    display:none;
	}

	@include breakpoint($m){
		background:none;

		&__text{

			&__title{
				font-size:4.2em;
			}
		}

		&__video, &__grad-overlay{
			display:block;
			position: fixed;
			width: 100%;
		}

		&__video{
			top: 50%;
		    left: 50%;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
		    z-index: -100;
		    -webkit-transform: translateX(-50%) translateY(-50%);
		    transform: translateX(-50%) translateY(-50%);
		    background: url(polina.jpg) no-repeat;
		}

		&__grad-overlay{
			opacity: 0.6;
		    top: 0;
		    left: 0;
		    height: 100vh;
		    z-index: -2;
		    background: linear-gradient(270deg, #3bff4f, #24e5ed, #ff9317, #df38aa);
			background-size: 400% 400%;

			// -webkit-animation: home-hero-grad-animation 30s ease infinite;
			// -moz-animation: home-hero-grad-animation 30s ease infinite;
			// -o-animation: home-hero-grad-animation 30s ease infinite;
			// animation: home-hero-grad-animation 30s ease infinite;
		}

		@include breakpoint(800px){

			&__text{
				&__title{
					font-size: 8.25em;
					text-align:center;
				}
			}
		}
	}
}


// @-webkit-keyframes home-hero-grad-animation {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @-moz-keyframes home-hero-grad-animation {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @-o-keyframes home-hero-grad-animation {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @keyframes home-hero-grad-animation { 
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }

// @include breakpoint(800px){
		
// 	html {
//         background: url(polina.jpg) #000 no-repeat center center fixed;
//     }
//     #bgvid {
//         display: none;
//     }
// }




