
// Every 3rd item wrapped in wrap
.wrap{
  width: 100%;
  position:relative;
  overflow:hidden;

  &:nth-child(2){
    border-bottom:none;
  }

  @include breakpoint($l){
	border-bottom:2px solid #F3F3F3;
  }

}


.hjb{

	&__jobs{
		@include clearfix;

		&__cell{
			@extend %relative;
			float:left;
			width:100%;
			padding:$base*8 $base*4 $base*12 $base*4;
			height:100%;
			text-align:center;
			z-index:1;
			overflow:hidden;

			&:after{
				content:"";
				position:absolute;
				top:0;
				left:0;
				bottom:0;
				height:2px;
				width:100%;
				background: #F3F3F3;
				opacity:1 !important;
			}

			&__job-role{
				color:$primFontColor;
			}

			&__read-more-button{
				position:absolute;
				bottom:16px;
				width:40px;
				opacity:0;
				z-index:10;
				left:50%;
				right:50%;
				margin-left:-20px;
				transition:opacity .3s ease-in-out, transform .3s ease-in-out;
				
				svg{
					width:40px;
					height:40px;
					fill:white;
				}
			}

			&:hover{
				.hjb__jobs__cell__read-more-button{
					opacity:1;
		    		-webkit-transform: rotate(-90deg);
				    -moz-transform: rotate(-90deg);
				    -o-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				    transform: rotate(-90deg);
				}
			}

									
			@include breakpoint(700px){
			
				

				&:before{
					content:"";
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:-400px;
					height:200%;
					background:$brandColor;
					opacity:0;
					z-index:-1;
				}


				&:hover{
					&:before{
						opacity:1;
					}
				}
				
			}

			@include breakpoint($l){
				width:33.3333%;
				overflow: visible;
				padding:$base*14 $base*8;

				&:after{
					right:0;
					left:initial;
					bottom:0;
					height:1200px;
					width:2px;
					background: #F3F3F3;
				}

				&:nth-child(3):after{
					display: none;
				}

			}

			&__money{
				font-size: $base*2;
			}
			&__job-role{
				margin-bottom:$base*2;
			}
			&__desc{

			}

			&:hover{
				background: $brandColor;

				.p-small-title-highlight, p, .hjb__jobs__cell__job-role{
					color:white;
				}
			}
		}
	}
}