

.inline-jobs{

	margin: $base*8 0;

	& > div{
		@include clearfix;
    	margin-bottom: $base*2;
	}

	&__latest-job-title{
		float:left;
		text-transform: uppercase;
	    font-size: 0.8em;
	    font-weight: 700;
	    color: #BDBDBD;
	}

	&__purple-view-all-jobs-link{
		@extend .hjb__powered-by;
		height:auto;
		width:110px;
	}

	&__cell{
		position:relative;
		width:100%;
		background:$lightestGrey;
		padding:$base*4;
		margin-bottom: $base*3;

		.p2{
			margin:0;
		}

		&__money{
			color: #FF02AF;
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 0.7em;
		    position: absolute;
		    right: 0;
		    background: white;
		    padding: 12px 20px;
		    top: 18px;
		}

		&__job-role{
			font-size: 1.1em;
		    text-transform: uppercase;
		    margin-bottom: 14px;
		    margin-top: 6px;
		    width:70%;
		}

		&__desc{
			width:100%;

			p{
				line-height: 1.6em;
    			color: #989898;
			}
		}

		&__direct-link{
			display:block;
			position:relative;
			padding-top:$base*2;
			color:$brandColor;
			font-family: $brandFont;
		}
	}

	@include breakpoint(700px){

		&__cell{


			&__money{
			    top: 18px;
			    font-size:0.9em;
			}

			&__desc{
				width:76%;
			}

			&__direct-link{
				position:absolute;
				right:20px;
				bottom:40px;
			}
		}
	}
}

// Override colors for single locations article

body.single-maplist{
	.inline-jobs__cell{
		background:white;
	}
	.inline-jobs__cell__money{
		background:#F3F2F2;
	}
}