.job-sectors{
	@include clearfix;

	&__sector{
		display: inline-block;
		width:48%;
		padding:15px;
		

		&__image{
			width:40%;
			margin: 0 auto;
		}

		&__text{
			font-weight:700;
			padding-top:$base*2;
			font-size:em(14px);
			@extend %uppercase;
		}
	}

	@include breakpoint(640px){

		&__sector{
			margin:$base*3 0;
			width:32.8%;
		}
	}
}