.job-sectors{
	@include clearfix;
	margin:$base*5 0;

	&__sector{
		float:left;
		width:50%;
		padding:30px 15px;


		&:hover{
			background:white;
		}
		

		&__image{
			width:70%;
			margin: 0 auto;
		}

		&__text{
			font-weight:700;
			padding-top:$base*2;
			font-size:em(14px);
			line-height: 1.3em;
			height:40px;
			@extend %uppercase;
		}
	}

	@include breakpoint(640px){

		&__sector{
			display: inline-block;
			// margin:$base*3 0;
			padding:30px 15px;
			width:32.8%;
		}
	}
}