.latest-news{
	@include clearfix;
	text-align:center;
	padding-top:$base*8;
	background:$lightestGrey;
	// max-width:1360px;
	// margin: 0 auto;

	
	&__title{
		@extend %uppercase;
		color:#D2D2D2;
		font-size: em(30px);
	    text-align: center;
	    font-weight: 600;
	    padding-bottom:$base;

	    body.home &{
	    	color:black;
	    }

		&__items{
			
		}
	}
	
	// latest-news
	@include breakpoint($m){
		// background:none;
	}
}