.latest-news{
	@include clearfix;
	padding-top:$base*10;
	background:$lightestGrey;
	max-width:1440px;
	margin: 0 auto;

	// .main-wrapper{
	// 	max-width:100%;
	// 	width:100%;
	// 	padding:0;
		
	// 	@include breakpoint($m){
	// 		padding: 0em 0em 0em 4em;
	// 	}
	// }
	
	&__title{
		@extend %uppercase;
		color:#D2D2D2;
		font-size: em(30px);
	    text-align: center;
	    font-weight: 600;
	    padding-bottom:$base;

		&__items{
			
		}
	}
	
	// latest-news
	@include breakpoint($m){
		background:none;
	}
}