

.content-container{

	padding-top:1.4em;

	img.alignleft, .bxslider-gallery{
		margin:$base*4 0;
	}

	.p1{
		margin-bottom: $base*2;
		// @extend %text-white;
	}
}

.location-single{

	&__cat{
		color:$brandColor !important;
		@extend %uppercase;
		border: 2px solid $brandColor;
		background:black;
		background: rgba(0,0,0,.5);
		padding:$base $base*2;
		font-weight:900;
		float:left;
		margin-left:8px;
		margin-bottom:$base*3;
		font-size:0.8em;
	}

	&__subhead-call-out{
		color:white;
		font-family:$brandFont;
		font-size:em(26px);
		font-weight:700;
		line-height:1.5em;
		margin-bottom:$base*4;
	}
	
	// Latest news background color
	&__latest-news{
		position:relative;
		background-color:#EEEEEE;
	}
	
	&__location-name{
		clear:both;
	}

	&__related-locations{
		@extend %center-text;

		.button{
			margin-top:$base*4;
		}
	}
}

.location-content-container{
	position:relative;
}

.FullMapPage #SingleMapLocation{
	height:200px;
}


.content{
	width:100%;
	float:left;
	padding: 0 15px;
	background: #F3F3F3;
}







// html, body {
// 	height: 100%;
// }

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 380px;
	// width: 100%;
}

.bg-img {
	background-color:grey;
	position: absolute;
	width:100%;
	height:100%;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index:0;
	background-size:cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	&:after{
		content:"";
		position:absolute;
		background:rgba(0,0,0,.3);
		top:0;
		left:0;
		height:100%;
		width:100%;
		bottom:0;
		right:0;
	}
}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.title {
	// background: rgba(0,0,0,0.8);
	position:absolute;
	padding-bottom:50px;
	-webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.title h1 {
	color: #fff;
	@extend %uppercase;
}


.title h1,
.title p.subline {
	line-height: 0.9;
}

.title p.subline {
	font-size: 1.75em;
}

/* Trigger Button */
.trigger {
	position: absolute;
	// bottom: 40px;
	left: 5px;
	z-index: 60;
	display: block;
	// margin-left: 3em;
	// margin:0 !important;
	margin-top:$base*4;
	border: none;
	background: transparent;
	color: transparent;
	cursor: pointer;

	.modify &{
		display:none;
	}

	&__icon{
		width:17px;
	}
}

// .container:not(.notrans) .trigger {
// 	-webkit-transition: opacity 0.3s 0.5s;
// 	transition: opacity 0.3s 0.5s;
// }

// .container.modify:not(.notrans) .trigger {
// 	opacity: 0;
// 	pointer-events: none;
// 	-webkit-transition-delay: 0s;
// 	transition-delay: 0s;
// }

.trigger::before {
	position: absolute;
	left: 17px;
    top: -11px;
	padding: 0.8em;
	white-space:nowrap;
	color: #fff;
	content: attr(data-info);
	font-size: 0.8em;
	font-weight:900;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	font-family:$brandFont;
}

.trigger:focus {
	outline: none;
}

.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}



/* Conent */
.content {
	position:relative;
	margin: 0 auto;

}

// .content > div:not(.title) p {
// 	margin: 0 auto 1.5em auto;
// }

// .content > div:not(.title) p:first-child {
// 	font-size: 1.35em;
// }

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	color: #FF02AF;
    font-weight: 700;
	line-height: 1.4;
}

.content blockquote::before {
	content: '';
	position:absolute;
	width:46px;
	left:-30px;
	height:46px;
	background:url(../assets/images/blockquote-quote-icon.png) no-repeat;
	background-size:contain;
}

.content blockquote::after {
	content: '\201D';
}









// /* -------------------------- */
// /* Side Fixed */
// /* -------------------------- */
// .intro-effect-sidefixed:not(.notrans) .bg-img::before {
// 	-webkit-transition-property: background-color;
// 	transition-property: background-color;
// }

// .intro-effect-sidefixed:not(.notrans) .bg-img::after {
// 	-webkit-transition-property: -webkit-transform;
// 	transition-property: transform;
// 	-webkit-transition-property: background-color;
// 	transition-property: background-color;
// }

// .intro-effect-sidefixed:not(.notrans) .title p {
// 	-webkit-transition-property: opacity;
// 	transition-property: opacity;
// }

// .intro-effect-sidefixed:not(.notrans) .content > div {
// 	-webkit-transition-property: -webkit-transform, opacity;
// 	transition-property: transform, opacity;
// }

// .intro-effect-sidefixed:not(.notrans) .bg-img::before,
// .intro-effect-sidefixed:not(.notrans) .bg-img::after,
// .intro-effect-sidefixed:not(.notrans) .title p,
// .intro-effect-sidefixed:not(.notrans) .content > div {
// 	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
// 	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
// 	-webkit-transition-duration: 0.5s;
// 	transition-duration: 0.5s;
// }

.intro-effect-sidefixed .header {
	position: absolute;
}

.intro-effect-sidefixed .bg-img {
	position: fixed;
}

.intro-effect-sidefixed .bg-img img {
	left: auto;
	left: 0;
}

.intro-effect-sidefixed .bg-img::before,
.intro-effect-sidefixed .bg-img::after {
	content: '';
	position: absolute;
	z-index: 10;
}

.intro-effect-sidefixed .bg-img::after {
	// background: #f8ebda;
	background:rgba(0,0,0,.3);
	top: 0;
	left: 0;
	width: 60%;
	height: 100%;
	// -webkit-transform: translateX(100%);
	// transform: translateX(100%);
}

.intro-effect-sidefixed .title h1 {
	// padding: 0 0 0.5em 0;
	color: white;
	font-size:3em;
}

.modify .location-single__subhead-call-out{
	color:black;
}



// /* Delays */
// .intro-effect-sidefixed:not(.notrans) .title,
// .intro-effect-sidefixed:not(.notrans) .bg-img::before,
// .intro-effect-sidefixed:not(.notrans) .bg-img::after {
// 	-webkit-transition-delay: 0.3s;
// 	transition-delay: 0.3s;
// }

// .intro-effect-sidefixed.modify:not(.notrans) .title,
// .intro-effect-sidefixed.modify:not(.notrans) .bg-img::before,
// .intro-effect-sidefixed.modify:not(.notrans) .bg-img::after {
// 	-webkit-transition-delay: 0s;
// 	transition-delay: 0s;
// }

// .intro-effect-sidefixed.modify:not(.notrans) .content div:nth-child(2) {
// 	-webkit-transition-delay: 0.15s;
// 	transition-delay: 0.15s;
// 	// margin-top:0;
// }

.intro-effect-sidefixed .bg-img::after {
	width: 100%;
}


// @include breakpoint(700px){
// 	.intro-effect-sidefixed .content{
// 		padding:0 50px;
// 		width:53%;
// 		float:left;
// 	}
// 	.intro-effect-sidefixed .bg-img::after {
// 		width: 57%;
// 	}

// }

@include breakpoint(480px){
	.intro-effect-sidefixed .title h1 {
		font-size: 4em;
	}
}

@include breakpoint(800px){

	.intro-effect-sidefixed .content {
		float:left;
		width: 54%;
		margin-right: 40%;
		// padding: 0 0em 0 1.3em;
	    margin-left: 0;
	}
	
	.content{
		width:54%;
		background: rgba(255, 255, 255, 0.92);
	}

	.content-container{
		padding-top:$base*8;
	}

	.intro-effect-sidefixed .bg-img::after {
		width: 57%;
		background: rgba(0,0,0,0.65);
	}

	.location-single{

		&__cat{
			padding:$base $base*2;
			margin-bottom:$base*3;
		}
	}

	.bg-img{
		position: fixed;
	}

	.header{
		position:fixed;
	}

	.viewport-height{
		height:100vh;
	}

	.FullMapPage #SingleMapLocation{
		height:300px;
	}

	.intro-effect-sidefixed .title h1{
		font-size: 6em;
	}
}

