.mapHolder{
	height:100vh !important;
}

.rightmap #ListContainer{
	width: 100%;
	padding:20px !important;
	margin-top:60px;
	// padding: 20px !important;
}
.locations-search-icon{
	position:absolute;
	float:left;
	width: 14px;
    height: 14px;
    opacity: 0.3;
    margin: 9px 6px 0 5px;
	background:url('images/icon-search.png');
	background-size:contain;
}

.filterView{
	&:after{
		content:"";
		position:absolute;
		width:24px;
		height:24px;
		left:8px;
		top:8px;
	}
}

.locations-list-view{
	&:after{
		background:url("images/list-icon.png")no-repeat;
		background-size:contain;
	}
}

.locations-map-view{
	&:after{
		background:url("images/map-icon.png")no-repeat;
		background-size:contain;
	}
}

.prettyMapList .prettyMessage{
    width: 50.7%;
    padding-left:24px !important;	
}

// Error pop up
.prettyMessage{
	width: 48.6%;
    left: 0;
    padding: 10px 10px 10px 35px;
    font-family: "brandon-grotesque",sans-serif;

    span{
    	color:#ADADAD;
    	font-size: 13px;
    }
}

textarea:focus, input:focus{
    outline: 0;
}
.prettyMapList .prettyFileBar .prettyMapListSearch input:focus, .prettyMapList .prettyFileBar .prettySearchValue:focus{
	font-size: 15px;
    font-weight: 900;
}


// Search field
.prettyMapList .prettyFileBar .prettyMapListSearch input, .prettyMapList .prettyFileBar .prettySearchValue{
	border:none !important;
	width:100% !important;
	background: none !important;
	font-family: $brandFont;
	width:300px !important;
	padding-left:0 !important;
	color:$brandColor !important;
	font-size: 15px !important;
	margin-left:27px !important;
}
.prettyMapList .prettyFileBar .prettyMapListSearch input:focus, .prettyMapList .prettyFileBar .prettySearchValue:focus{
	color:$brandColor !important;
	font-size: 15px !important;
	font-weight:700 !important;
}
.prettyMapList .prettyFileBar .prettyMapListSearch{
	padding-left:20px !important;
	margin-top:12px;
}

.map-pro-thumbnail-image{
	margin-bottom:17px !important;
}
.description{
	padding-bottom: 30px !important;
}

#MaplistBack, .prettyMapList .btn{
	padding:10px !important;
}
.pfl_next, .pfl_prev{
	background:none !important;
	margin:0 !important;
}
.pfl_next:hover, .pfl_prev:hover{
	background:$brandColor !important;
}


.prettyMapList .mapLocationDetail{
	padding:0 !important;
}

.prettyPagination{
	font-family: $brandFont;
	float: left;
	clear:both !important;
	// width:47%;
	padding-left: 1.5%;
	padding:0 30px;
	width:100%;
	margin-bottom:100px !important;
}
.prettyPagination .pagingInfo{
	width:100%;
	font-size:0.8em;
	color:$secFontColor;
	margin-bottom:10px;
}

.prettyMapList .corePrettyStyle{
	height:auto;
	width:46.2%;
}

.infowindowContent > p, .infoWindowContainer .infoWindow h3{
	text-align:left !important;
}

.infowindowContent .btn, .viewLocationPage{
	padding-left:0 !important;
	padding-top:20px !important;
}

.infowindowContent > p{
	padding-top:$base*2;
}

.infoWindowContainer .infoWindow h3{
	font-weight:900;
	@extend %uppercase;
}

.infowindowContent{
	.address{
		// text-align: center;
		font-weight:700;

		a{
			color:$brandColor;	
		}
		br{
			display: none;
		}
	}
}
.infowindowContent .viewLocationPage{
	text-align:left !important;
	// border:2px solid $brandColor;
	font-family:$brandFont;
	padding:15px 20px 12px 20px;
	display:inline-block;
	font-weight:700;
	color:#5B5B5B;
}

.infoWindow{
	&:hover{
		.infowindowContent .viewLocationPage{
			color:$brandColor;
		}
	}
}


// Background to suit the map colour when there are only a few items in view
body.page-id-7{
	background: #EFEFEF;
}

.infoWindowContainer, .infoWindowContainer .infoWindow{
	border-radius: 0px !important;
}
.infoWindowContainer .infoWindow .infowindowContent{
	padding-top:0px !important;
}
.prettyMapList .mapHolder .infoWindow{
	padding: 0px 20px !important;
}
.prettyMapList .mapHolder{
	width:46%;
}

.infoWindowContainer .infoWindow h3,
.prettyMapList .corePrettyStyle{
    /*Gradient background*/
    float:left;
    background: #ffffff; /* Old browsers */
    color:#555;
    width: 46.2%;
    color: #555;
    margin: 1.5%;
}

.location:hover .map-pro-thumbnail-image:after{
	opacity:1 !important;
	background:black !important;
	background: rgba(0,0,0,0.6) !important;
}

.prettyMapList .location{
	width:100% !important;
}


.prettyMapList .customCategoryList ul{
	top:initial !important;
	bottom:100px !important;
	visibility:hidden;
	display:block !important;
    position:fixed;
    font-size: 22px;
    line-height: 1.2em;
    z-index:20;
    right: 24px;
}


// .customCategoryList:after{
// 	content:"";
// 	position:absolute;
// 	width:100%;
// 	height:100%;
// 	height:400px;
// 	top:0;
// 	left:0;
// 	background:red;
// }

.prettyMapList .customCategoryList{
	position: fixed;
    right: 20px;
    bottom: 20px;
    font-family:$brandFont;
    z-index:200;
    width:160px;
}

.prettyMapList .prettyFileBar .btn{
	position: absolute;
	float:right;
	right: 0 !important;
	bottom: 0px !important;
}


.filterView{
	position:relative;
	width:40px;
	height:40px;
	float:left;
	visibility:hidden;
	border-radius:50%;
	margin:8px 5px;
	background:white;
	z-index:10;
	padding: 13px;
}

.show-location-view-options{
	visibility:visible !important;
}

.showFilterBtn{
	width: 50px !important;
    height: 50px !important;
    background: #FF02AF !important;
    z-index: 20 !important;
    border-radius: 50% !important;
    // position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    padding:10px !important;
}

.prettyMapList .corePrettyStyle {
	margin: 2.5% 0 !important;
}


// Show cat filter on filter button click
 .prettyMapList .customCategoryList ul.show-cat-filter{
	visibility:visible;
}

.prettyMapList .corePrettyStyle a, .prettyMapList .prettylink:after{
    font-family:"brandon-grotesque", sans-serif;
    font-weight:700;
    font-size:20px;
    color:white;
    background:none !important;
}

.prettyMessage .btn{
	float:right !important;
	padding:0 !important;
	margin-right:4%;
}


.description__title{
	height:30px;
	padding:0 10px;
}
.description span{
	line-height: 22px;
	font-size: 16px !important;
}

.customCategoryList ul li a:not(.showing) {
    opacity:1;
}

.customCategoryList ul li a.showing{
	color:$brandColor !important;
}

.customCategoryList ul li a:hover{
	opacity:1 !important;
}

#map-canvas0{
	opacity: 0;
	z-index:-10;
}

.prettyMapList .customCategoryList ul a{
	color:white;
}

// Show & hide map
.show-mobile-map{
	display:block !important;
	z-index:19 !important;
	opacity: 1 !important;
}

.prettyMapList .prettylink:after{
	display:none;

	content: "Map";
    display: block;
    right: 33%;
    position: absolute;
    top: 32.6%;
    // bottom:110px;
    z-index: 20;
    border-radius: 50%;
    opacity:0;
}

.prettyMapList .corePrettyStyle a{
    position: absolute;
    text-align: center;
    width: 100% !important;
    left: 0;
    z-index:20;
    bottom: 12px;
}

.customCategoryListOverlay{
	opacity:0;

	&--visible{
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity:1;
		background:rgba(0,0,0,.5);
	}
}

.rightmap .prettyFileBar{
	width:100%;
	margin-top:60px;
}

.rightmap .mapHolder, .mapHolder{
    float:right;
    width:49%;
}

.mapHolder{/*height:350px;*/width:100%;}

@include breakpoint(500px){
	.rightmap .prettyFileBar, .rightmap #ListContainer{
		margin-top:0px;
	}
	.rightmap #ListContainer{
		padding:3.7% !important;
	}
}


@include breakpoint(660px){
	.prettyMapList .corePrettyStyle{
		width: 46.2% !important;
		float:left;
		margin: 2.9% 1.9% !important;
	}

	.map-pro-thumbnail-image img{
		transition: transform .3s ease-in-out;
	}

	.rightmap #ListContainer{
		padding:1.8% !important;
	}

	.prettylink:hover .map-pro-thumbnail-image img{
		transform:scale(1.1);
	}

	.prettyMapList .corePrettyStyle a, .prettylink:after{
		transform: translate(0,44px);
		transition: transform .3s ease-in-out;
	}

	.prettylink:hover .viewLocationPage, .prettylink:hover:after{
		transform: translate(0,0px);
		transition: transform .3s ease-in-out;
	}
	.prettyMapList .map-pro-thumbnail-image:after{
		transition: color .3s ease-in-out;
	}
	.prettylink:hover:after{
		transition-delay: .05s;
	}

	/*Added to stop themes overriding*/
	.prettyMapList .map{
	    float:left;
	}

	.prettyMapList .prettyFileBar .btn{
	    width: 50px !important;
    	// padding: 0 !important;
	}
	.map-pro-thumbnail-image{
		margin-bottom:18px !important;
	}
	.description{
		padding-bottom: 32px !important;
	}
	.rightmap .mapHolder, .mapHolder{
		width:100% !important;
	}
}

@include breakpoint(860px){

	// Location cell
	.prettyMapList .corePrettyStyle{
		width: 46.2% !important;
	}	

	.rightmap #ListContainer{
		width: 47.6%;
		margin-top:0;
	}

	.prettyMapList .corePrettyStyle{
		width: 100% !important;
		// margin: 1.9% 1.9% !important;
	}

	.prettyMapList .prettyMessage{
	    width: 50.7%;
	}

	.prettyPagination{
		float: left;
		clear:both !important;
		width:48.6%;
		padding-left: 3.5%;
		margin-bottom:20px !important;
	}

	.prettyMapList .prettyPagination .pfl_prev, .prettyMapList .prettyPagination .pfl_next{
		margin-left:0 !important;
		margin-right:0 !important;
		width:48% !important;
	}

	#map-canvas0{
		opacity:1;
		z-index:0;
		display:block;
	}

	.prettyPagination a.pfl_next{
		float:left !important;
	}

	// Hide mobile menu toggle button
	.prettyMapList .prettyFileBar .btn, .filterView{
		display:none;
	}

	.prettyMapList .corePrettyStyle a{
		// left: 29%;
		left: 20%;
	    width:auto !important;
	    opacity:0;
	}

	.prettylink:hover:after{
	    opacity:1;
	}

	.prettyMapList .customCategoryList ul{
		top:5px !important;
		visibility:visible;
	    right: 10px;
	}
	.rightmap .mapHolder, .mapHolder{
		width:47% !important;
	}
	.prettyMapList .customCategoryList ul a{
		color:black;
		opacity:0.6 !important;
	}

	.prettyMapList .prettylink:after{
		right: 26%;
	}
}

@include breakpoint(960px){

	.prettyPagination a.pfl_next{
		float:right !important;
	}
	.prettyPagination{
		padding:0;
		padding-left:2%;
	}

	.prettyMapList .corePrettyStyle{
		width: 46.2% !important;
		float:left;
		margin: 1.9% 1.9% !important;
	}
	.rightmap #ListContainer {
		width:50.7%;
    	// padding: 0 2% 0 0.6% !important;
    	padding: 0 2% 0 1% !important;

	}
	.prettyMapList .prettylink:after{
    	bottom:102px;
    	top:initial;
	}
	.customCategoryList ul li a:not(.showing) {
		opacity:0.6;
	}
	.prettyMapList .customCategoryList ul a{
		color:black;
	}
}

@include breakpoint(1180px){
	.rightmap #ListContainer{
		width:51.6%;
	}
	.prettyMapList .prettylink:after{
		right:32%;
	}
	.prettyMapList .corePrettyStyle a{
		left: 27%;
	}
}



