.mapHolder{
	height:100vh !important;
}

.rightmap #ListContainer{
	width: 49%;
	padding: 20px !important;
}

.prettyMapList .mapLocationDetail{
	padding:0 !important;
}

.prettyMapList .corePrettyStyle{
	height:auto;
}