.mapHolder{
	height:100vh !important;
}

.rightmap #ListContainer{
	width: 49%;
	// padding: 20px !important;
}

.prettyMapList .mapLocationDetail{
	padding:0 !important;
}

.prettyMapList .corePrettyStyle{
	height:auto;
}

.location:hover .map-pro-thumbnail-image:after{
	opacity:1 !important;
	background:black !important;
	background: rgba(0,0,0,0.6) !important;
}

#map-canvas0{
	display:none;

	@include breakpoint(820px){
		display:block;
	}
}

.description__title{
	height:30px;
}
.description span{
	line-height: 22px;
}

.customCategoryList ul li a:not(.showing) {
    opacity:0.3;
}

.customCategoryList ul li a.showing{
	color:$brandColor !important;
}

.customCategoryList ul li a:hover{
	opacity:1 !important;
}