.news-single-hero{
	position:relative;
	height:340px;
	width:100%;
	margin-top:60px;
	overflow:hidden;
	background-size:cover;
	

	&:after{
		content:"";
		position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    background: #252b33;
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
	    opacity: 0.35;
	}

	.main-wrapper{
		padding-top:0;
		padding-bottom:0;

	}

	.active-slide{
	
		.news-single-hero__slide__text__title,
		.news-single-hero__slide__text__read-more-button,
		.news-single-hero__slide__text__news-cat {
			opacity:1;
			transform: translate(0, 0px);
		}

	}

	&__slide{
		height: 100%;
		@extend %cover;

		&__text{
			position:relative;
			@extend %center-text;
			@include vertical-align;
			// padding:$base*8 0;
			z-index:10;

			&__title{
				@extend %uppercase;
				@extend %text-white;
				font-size:$base*5;
				margin-top:$base;
				line-height: 1em;
			}

			&__news-cat{
				@extend %uppercase;
			    @extend %text-white;
			    display: initial;
			    padding: 7px 14px;
			    margin-bottom: 20px;
			    font-size: 0.9em;
    			font-weight: 500;
			}
		}
	}

	@include breakpoint(500px){
		height:400px;
		margin-top:0;
		background-position:50% 50%;

		&__slide{
			&__text{

				&__title{
					margin-top:12px;
					margin-bottom:24px;
					font-size:$base*8;
				}
			}
		}
	}

	@include breakpoint(800px){
		height:500px;

		&__slide{
			&__text{
				&__title{
					max-width:900px;
					margin:12px auto 24px auto;
					font-size:$base*12;
					transition:transform .3s ease-in-out, opacity .3s ease-in-out;
				}
				// &__news-cat, &__title, &__read-more-button,

				&__news-cat{
					transition:transform .2s ease-in-out, opacity .2s ease-in-out;
				}
				&__read-more-button{
					transition:transform .4s ease-in-out, opacity .4s ease-in-out;
				}
			}
		}
		body.blog &__slide__text__news-cat,
		body.blog &__slide__text__title,
		body.blog &__slide__text__read-more-button{
			opacity:0;
			transform: translate(0,40px);
		}
	}
}

