
.news-single{

	&__more-news{
		margin-top:$base*10;
		background: #F4F4F4;

		&__wrap{
			padding: $base*10 0 0 0;
		}

		&__title{
			margin-bottom: $base*4;
			text-align:center;
		}

		&__items{
			@include clearfix;
		}
	}
}