.news-cell{
	width: 100%;
	float:left;

	&__image{
		position:relative;
		width:100%;

		&:after{
			content:"";
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,.25);
			z-index:0;
		}
	}

	&__text{
		position:absolute;
		padding:0 $base*3;
		bottom:$base*1;
		z-index:1;
		z-index: 30;
		width:100%;
		text-align:center;
	
		&__news-type{
			color:$brandColor;
			text-transform: uppercase;
			font-weight:700;
			font-size:0.7em;
			margin-bottom:0.5em;
			margin-top:- $base / 2;
			@extend %sm-letter-spacing;
		}

		&__news-title{
			margin-bottom:$base*2;
			font-weight:900;
			@extend %text-white;
		}
	}
		
	&__excerpt p{
		padding: 2em 3em;
		text-align: center;
		margin-bottom:2em;
	}

	// news-cell
	// @include breakpoint($m){

	// 	&:hover .news-cell__image:after{
	// 		background: rgba(0,0,0,0.7);
	// 	}

		
	// 	&:hover .news-cell__text__news-title, 
	// 	&:hover .news-cell__text__news-type{
	// 		opacity:0;
	// 	}

	// 	// Animate excerpt
	// 	&:hover .news-cell__text__excerpt{
	// 		visibility: visible;
	// 		opacity:1;
	// 		padding:$base*3;
	// 	}
	// }

	@include breakpoint(700px){
		width: 49.74%;
	    display: inline-block;
	    white-space: normal;
	    vertical-align: top;
	    overflow: hidden;
	    margin-right: -4px;
	    float:none;

	    &:nth-child(3){
	    	display:none;
	    }

		&__excerpt p{
			padding: 2em 3em;
			text-align: center;
			height:280px;
			margin-bottom:0;
		}
	}

	@include breakpoint(1100px){
		width:33.333%;

		&:nth-child(3){
	    	display:inline-block;
	    }

		&__excerpt p{
			padding: 2em 3em;
			text-align: center;
		}
	}

}