.meta{
	position:absolute;
	top:-40px;

	&__avatar{

		&__image{
			width:80px;
			height:80px;
			float:left;
			@extend %circle;
			background:$brandColor;
			border:4px solid white;
		}

		&__writers-name, &__date-posted{
			float:left;
			margin-top:30px;
		}
	}
}