.news-all-hero{
	position:relative;
	// height:100vh;
	width:100%;
	background:$brandColor;
	overflow:hidden;
	
	@include breakpoint($m){
		height:600px;
	}

	&__slide__text{
		position:absolute;
		bottom:0;
	}

	.main-wrapper{
		padding-top:0;
		padding-bottom:0;

	}

	&__slider{

		&__slide{
			
			&__text{
				position:absolute;
				bottom:0;

				@include breakpoint($m){
					max-width:800px;
				}
				
				&__news-cat{
					color:white;
					@extend %uppercase;
				}	

				&__title{
					color:white;
					@extend %uppercase;
					font-size:$base*10;
				}
			}
		}
	}
}
