.related-locations{
	position:relative;
	@include clearfix;
	background:#E6E6E6;

	&__items{
		&__item{
			@include span(12 of 12);
		}
	}
}

.related-locations-cell{

	&__container{
		padding: 0 0 20px 0;
		margin:10px 0px;
		background:white;
	}
	

	&__title{
		padding:20px 0 0 0;
		text-align: center;
	}
}

@include breakpoint($m){

	.related-locations{
		&__items{
			&__item{
				@include span(4 of 12);
			}
		}
	}

	.related-locations-cell{

		&__container{
			// padding: 0 0 20px 0;
    		margin:15px;
		}

		&__title{
			padding:20px 0 0 0;
			text-align: center;
		}

	}

}





