.related-locations{
	position:relative;
	@include clearfix;
	background:#E6E6E6;

	&__items{
		&__item{
			@include span(12 of 12);
		}
	}

	.title-block{
		padding: 0 10px;
		text-align: left;

		&__title{
			color:$primFontColor;
			font-size: 2em;
		}
	}
}

.related-locations-cell{

	&__container{
		padding: 0 0 $base*5 0;
		margin:10px 0px;
		background:white;

		&__image{
			@extend %relative;
			overflow:hidden;

			&:after{
				content:"";
				opacity:0;
				position:absolute;
				top:0;
				left:0;
				right:0;
				width:100%;
				height:100%;
				background:rgba(0,0,0,.5);

				transition: opacity .3s ease-in-out;
			}

			&__read-more-button{
				@extend .news-cell__text__read-more-button;
			}

			img{
				transition: transform .3s ease-in-out;
			}
		}
	}

	&__title{
		padding:20px 0 0 0;
		@extend %center-text;
		@extend %uppercase;
		font-size:1.1em;
		font-weight: 900;
	}
}

@include breakpoint(600px){

	.related-locations{
		&__items{
			&__item{
				@include span(6 of 12);
			}
		}
	}

	.related-locations-cell{
		&__container{
			margin:0 4% 8% 4%;
		}

		&:hover{
			.related-locations-cell__container__image{

				&:after{
					opacity:1;
				}

				& img{
					transform:scale(1.2);
				}
				
				&__read-more-button{
					opacity:1;
					-webkit-transform: rotate(-90deg);
				    -moz-transform: rotate(-90deg);
				    -o-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				    transform: rotate(-90deg);
				}
			}
		}
	}

}

@include breakpoint(900px){

	.related-locations{
		&__items{
			&__item{
				@include span(4 of 12);
			}
		}
	}

	.related-locations-cell{
	
		&__container{
			margin:0 3% 6% 3%;
		}

		&__title{
			padding:$base*4 0 0 0;
			text-align: center;
			height:70px;
		}
	}

}





