.site-nav{
	position:fixed;
	opacity:0;
	visibility:hidden;
	@include clearfix;
	height:100vh;
	width:100%;
	z-index:99;
	top:0;
	left:0;
	background:$offBlack;
	@extend %text-white;
	
	transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
	overflow: scroll;

	@include breakpoint($m){
		width:100%;
		// padding:$base*5 $base*10;

		background: linear-gradient(270deg, #24e5ed, #df38aa);
	}
	

	// Menu slide out active class
	&--active{
		opacity:1;
		visibility: visible;

		&:before{
    		content: "";
		    position: absolute;
		    height: 100%;
		    width: 100%;
		    background: rgba(0, 0, 0, 0.52);
		    top: 0;
		    left: 0;
		    z-index: 1;
    	}
	}

	// &__website-name{
	// 	font-family: $brandFont;
	// 	font-size:1.2em;
	// 	@extend %uppercase;
	// 	@extend %font-weight-black;
	// 	float:left;

	// 	@include breakpoint($m){
	// 		font-size:2em;
	// 	}
	// }

	&__all-site-links{
		// overflow: hidden;
		position:relative;
		width: 100%;
		margin-bottom:$base*4;
		@include clearfix;
		z-index:2;
		margin-top:40px;
	}

	&__cat{
		// margin-top:$base*12;
		clear:both;

		&__title{
			padding-top:3px;
			padding-bottom: 0px;
			margin-bottom: 11px;
			@extend %text-white;
		}
		&__nav{
			@include span ( 7 of 12);
			
			@include breakpoint($m){
				@include span ( 6 of 12);
				text-align: right;
				// &__link{
				// 	@include span ( 6 of 12);
				// }
			}
		}
	}

	&__main-site-links{
		@include span (last 6);

		&__link{
			@extend %uppercase;
			@extend %text-white;
			font-family: $brandFont;
			display:block;
			padding: $base*2.46 0;
			@extend %font-weight-black;
			font-size:1.2em;
		}
		@include breakpoint($m){
			// @include span (last 3);
			padding-top: 8px;

			&__link{
				font-size: 1em;
    			padding: 0;
    			line-height: 2em;
				// padding: $base*2 0;
			}
		}

		.menu-item-157{
			padding-top:17px;
		}
	}


	&__join-the-community{
		border-top:1px solid white;
		margin-top:$base*3;
		padding-top:$base*3;
		clear:both;
	
		&__form{
			// @include span(8 of 12);
		}
	}

	.social-icons{
		width:100%;
		clear:both;
		text-align: center;
	}
}


input{
	position: relative;
    width: 280px;
    background-image: url(/assets/images/transparent.png);
    outline: none;
    border: none;
    background: rgba(0,0,0,0.1);
    padding-bottom: 10px;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 1.2em;
    z-index: 10;
    text-align: center;
    padding: 6px 0;
    display: block;
    margin: 0 auto;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: white;
   text-align:center;
}


input[type="submit"]{
	width:100%;
	background-color:rgba(0,0,0,0);
	background-image:url(/assets/images/transparent.png);
	outline: none;
	border: none;
	padding-bottom: 10px;
	font-family:$brandFont;
	@extend %font-weight-bold;
	font-size:1.2em;
	margin: $base*2 0;
	@extend %text-white;
}


.menu-item{
	@extend %text-white;
	font-family: $brandFont;
	display:block;
	padding: $base*2 0;
	font-size:em(32px);
}

.menu-item a{
	color:white;
}