.site-nav{
	position:fixed;
	opacity:0;
	visibility:hidden;
	@include clearfix;
	height:100vh;
	width:100%;
	z-index:500;
	top:0;
	left:0;
	background:$offBlack;
	@extend %text-white;
	transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
	overflow: scroll;

	.main-wrapper{
		padding-top:0;
	}

	@include breakpoint(500px){
		width:100%;
		background: linear-gradient(270deg, #24e5ed, #df38aa);

		.main-wrapper{
			padding-top:$base*6;
		}
	}
	

	// Menu slide out active class
	&--active{
		opacity:1;
		visibility: visible;

		&:before{
    		content: "";
		    position: fixed;
		    height: 100%;
		    width: 100%;
		    background: rgba(0, 0, 0, 0.52);
		    top: 0;
		    left: 0;
		    z-index: 1;
    	}
	}

	&__outter-wrapper{
		z-index: 2;
    	position: relative;
    	padding-left:0;
	}

	&__all-site-links{
		max-width: 800px;
		margin-bottom:$base*6;
		@include clearfix;
		margin:0 auto;
	}

	&__cat{
		clear:both;

		&__title{
			padding-top:3px;
			padding-bottom: 0px;
			margin-bottom: 11px;
			@extend %text-white;
		}
		&__nav{
			@include span ( 6 of 12);

			li{
				font-size:em(19px);
			}

			&__sub-title{
				color: #9C9C9C;
			    font-style: italic;
			    font-size: 1.1em;
			    letter-spacing: 0.02em;
			}
			
			@include breakpoint(500px){
				@include span ( 6 of 12);
				text-align: center;

				li{
					font-size:1.4em;
				}
			}

			@include breakpoint(700px){

				li{
					font-size:2em;
				}
			}
		}
	}

	&__main-site-links{
		@include span (last 6);

		&__link{
			@extend %uppercase;
			@extend %text-white;
			font-family: $brandFont;
			display:block;
			text-align: right;
			@extend %font-weight-black;
			font-size:1.2em;
		}

		@include breakpoint(500px){
			padding-top: 8px;
			margin-top:30px;

			&__link{
				font-size: 1em;
    			padding: 0;
    			line-height: 1.25em;
    			text-align: center;
			}
			.menu-item-157{
				padding-top:9px;
			}
		}

		@include breakpoint(700px){

			&__link{
				font-size: 1em;
				line-height: 2em;
			}
			.menu-item-157{
				padding-top:17px;
			}
		}
	}


	&__join-the-community{
		border-top:1px solid white;
		margin-top:$base*3;
		padding-top:$base*3;
		clear:both;
	}

	.social-icons{
		// width:100%;
		clear:both;
		text-align: initial;
		right: 20px;
    	position: absolute;
    	bottom: 60px;

    	&__icon{
    		width:34px;
    		margin:0 4px;
    	}
	}
}

.menu-item{
	@extend %text-white;
	font-family: $brandFont;
	display:block;
	padding: $base*2 0;
	font-size:1em;

	@include breakpoint(500px){
		font-size:em(24px);
		padding: $base*2 0;
	}

	@include breakpoint(700px){
		font-size:em(32px);
	}
	
}

.menu-item a{
	color:white;
}