.site-nav__top-bar{
    position:relative;
    height:80px;
    width:100%;
    z-index:10;
    margin-top:60px;

    &__search{
        float:left;
        height:50px;
        width:100%;
    }

    // &__helper--show{
    //     opacity:0;
    //     text-align: center;
    //     color: rgba(255, 255, 255, 0.43);
    //     padding-top: 10px;
    //     clear: both;
    // }

    &__sign-up{
        @extend %relative;
        display:block;
        @extend %left;
        width:100%;
        height:auto;

        &__con{
            width:80px;
            margin: 0 auto;

            &__icon{
                @extend %left;

                svg{
                    width: 22px;
                    height: 30px;
                    fill:white;
                }
            }

            p{
                color: #656565;
                @extend %center-text;
                color:white;
                padding:0px 0 0 10px;
                float:left;
            }
        }
    }

    input{
        position:relative;
        width: 100%;
        background-image: url(/assets/images/transparent.png);
        outline: none;
        border: none;
        background: rgba(0,0,0,0.1);
        font-family: $brandFont;
        font-size: 1em;
        z-index: 10;
        @extend %center-text;
        padding: 12px 0 13px 0;
        display: block;
        @extend %text-white;
    }

    input[type="submit"]{
        width:100%;
        background-color:rgba(0,0,0,0);
        background-image:url(/assets/images/transparent.png);
        outline: none;
        border: none;
        padding-bottom: 10px;
        font-family:$brandFont;
        @extend %font-weight-bold;
        font-size:1em;
        margin: $base*2 0;
        @extend %text-white;
    }

    @include breakpoint(500px){
        padding:0;
        margin:0 0 0 65px;

        input{
            width: 100%;
            background: none;
            font-size: 1.4em;
            padding: 22px 20px 25px 20px;
        }

        &__sign-up{
            position:absolute;
            right:0;
            width:160px;
            height:80px;
            background: rgba(0,0,0,0.2);
            z-index:20;
            padding-top: 23px;


            &__con{
                &__icon{
                    float:left;
                }
            }
        }
        &__search{
            height:80px;
        }
        @include breakpoint(700px){
            input{
                text-align: center;
                // background: rgba(0,0,0,0.2);
            }
        }
    }
}


::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: white;
   text-align:center;
}

