.site-nav{
	position:fixed;
	opacity:0;
	visibility:hidden;
	@include clearfix;
	width:100%;
	z-index:500;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:$offBlack;
	background: linear-gradient(270deg, #24e5ed, #df38aa);
	@extend %text-white;
	transition:visibility .3s ease-in-out, opacity .3s ease-in-out, transform .3s ease-in-out;
	overflow: scroll;

	.main-wrapper{
		padding-top:0;
		padding-bottom:0;
	}

	// Menu slide out active class
	&--active{
		opacity:1;
		visibility: visible;

		&:before{
    		content: "";
		    position: fixed;
		    height: 100%;
		    width: 100%;
		    background: rgba(0, 0, 0, 0.22);
		    top: 0;
		    left: 0;
		    z-index: 1;
    	}
	}

	&__outter-wrapper{
		z-index: 2;
    	position: relative;
    	padding-left:0;
    	@extend %center-text;
    	height: auto;
	}

	&__all-site-links{
		max-width: 800px;
		margin-bottom:$base*6;
		@include clearfix;
		margin:0 auto 30px auto;
	}

	&__cat{
		clear:both;
		text-align: left;

		&__title{
			padding-top:3px;
			padding-bottom: 0px;
			margin-bottom: 11px;
			@extend %text-white;
		}
		&__nav{
			@include span ( 6 of 12);

			li{
				font-size:em(19px);
				// transform: translateY(20px);
			}

			&__sub-title{
				color: #9C9C9C;
			    font-style: italic;
			    font-size: 1.1em;
			    letter-spacing: 0.02em;
			}
			
		}
	}

	&__main-site-links{
		@include span (last 6);
		margin-top:30px;

		&__link{
			@extend %uppercase;
			@extend %text-white;
			font-family: $brandFont;
			display:block;
			text-align: right;
			@extend %font-weight-black;
			font-size:1.2em;
		}
	}


	&__join-the-community{
		border-top:1px solid white;
		margin-top:$base*3;
		padding-top:$base*3;
		clear:both;
	}

	.social-icons{
		// width:100%;
		clear:both;
		text-align: center;
		
    	&__icon{
    		width:34px;
    		margin:0 4px;
    	}
	}


	@include breakpoint(500px){

		.main-wrapper{
			padding:$base*6 0 40px 65px;
		}

		&__cat{
			&__nav{
				@include span ( 6 of 12);
				text-align: center;

				li{
					font-size:1.4em;
				}
			}
		}

		&__main-site-links{
			padding-top: 8px;

			&__link{
				font-size: 0.85em;
    			padding: 0;
    			line-height: 1.25em;
    			text-align: center;
			}
			.menu-item-157{
				padding-top:9px;
			}
		}
		

	} // End: Breakpoint 500px

	// $small-height:(min-height 100px);

	// @include breakpoint($small-height){
	// 	&__cat__nav li{
	// 		font-size:1em;
	// 	}
	// }

	@media only screen and(min-width:700px)and (min-height:760px){

		transform: scale(0.8);

		&--active{
			transform: scale(1);
		}

		&__cat__nav li{
			font-size:2em;
		}


		&__main-site-links{
			&__link{
				font-size: 1em;
				line-height: 2em;
			}
			.menu-item-157{
				padding-top:17px;
			}
		}

		.social-icons{
			margin-top:40px;
		}

	} // End: Breakpoint 700px
	

}


.menu-item{
	@extend %text-white;
	font-family: $brandFont;
	display:block;
	padding: $base*2 0;
	font-size:1em;
	transform: translateY(20px);
	opacity:0;

	transition: transform .3s ease-in-out, opacity .3s ease-in-out;

	a{
		@extend %text-white;
	}

	@include breakpoint(500px){
		font-size:em(32px);
		padding: $base*2 0;
	}	
}

.menu-item--animate{
	opacity:1;
	transform: translateY(0px);
}

