.social-icons{
	text-align:center;
	@include clearfix;
	// border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    padding-bottom: 40px;

	&__icon{
		display:inline-block;
		width:32px;
		height:32px;
		margin:0 8px;

		fill:white;
		opacity:0.6;
		transition:opacity .3s ease-in-out;

		&:nth-child(1){
			margin-left:0;
		}

		&:hover{
			opacity:1;
		}
	}

	@include breakpoint($m){
		&__icon{
			width:40px;
			height:40px;
		}
	}
}