.social-and-review-container{
	display:none;

	@include breakpoint($m){
		display: block;
		position:fixed;
		right:0;
		bottom:60px;
		width:40%;
		height:100px;
		text-align:center;

		&__link{
			display:inline-block;
			margin:15px 5px 0 5px;

			svg{
				width: 45px;
	    		height: 45px;
	    		// fill:$brandColor;

	    		.bird{
	    			fill:red;
	    		}
			}
		}

		.wp-review-245.review-wrapper{
			background:none;
		}
		.user-review-area{
			border:none !important;
		}
		.review-total-star{

		}
		.user-review-title, #mts-user-reviews-total, .user-total-wrapper{
			display:none;
		}
		.review-result-wrapper i{
			font-size:22px;
		}
		.review-total-star{
			float:none;
		}
	}
}

svg.circle{
	fill:white
}
.bird{
	fill:white;
}