.title-block{
	padding:0 30px;
	text-align:center;
	margin-bottom:$base*6;

	&__title{
		margin-bottom:0;
		// @extend %uppercase;
	}

	&__title, &__sub-text, & p{
		color:$primFontColor;
		line-height:1.3em;
	}

	&--light-bg{
		color:$primFontColor;

		& p{
			color:$primFontColor;
		}
	}

	@include breakpoint(800px){

		&__title,{
			font-size: em(52px);
			color:white;
		}

		&--light-bg__title{
			color:$primFontColor;
			font-size: em(52px);
		}

		p{
			font-size:1.3em;
			color:white;
		}

		&--light-bg p{
			color:$primFontColor;
		}

		&__title, &__sub-text, & p{
			
			&--light-bg{
				color:$primFontColor;
			}
		}
	}
}