.trending-locations{
	overflow:hidden;
	background:$lightestGrey;
	padding-top:$base*6;


	&__title{
		@extend %center-text;
		@extend %uppercase;
		color:$primFontColor;
	}

	&__slider-container{
			
		@include breakpoint(800px){
			padding: 0 14%;
			// height: 800px;
		}

	}

	.bx-controls-direction{

		.bx-prev, .bx-next{
			height: 60px;
			top: 30%;
			margin-top: 0;
			width: 60px;
			z-index:10;
			transition: background .3s ease-in-out;

			&:hover{
				background: rgba(0, 0, 0, 0.6);
			}
		}
		.bx-prev{
			left: 0;

			&:after{
				content:"";
				position:absolute;
				top: 50%;
			    margin-top: -20px;
			    right: 7%;
				width:40px;
				height:40px;
				background:url(images/svg/icon-carousel-arrow.svg) no-repeat;
				background-size:contain;

				-webkit-transform: rotate(-180deg);
			    -moz-transform: rotate(-180deg);
			    -o-transform: rotate(-180deg);
			    -ms-transform: rotate(-180deg);
			    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
			    transform: rotate(-180deg);
			}

		}
		.bx-next{
			right: 0;

			&:after{
				content:"";
				position:absolute;
				top: 50%;
			    margin-top: -20px;
			    left: 7%;
				width:40px;
				height:40px;
				background:url(images/svg/icon-carousel-arrow.svg) no-repeat;
				background-size:contain;
			}
		}
	}

	@include breakpoint(800px){
		display:block;
		background:none;
		padding-top:$base*17;

		&__title{
			color:white;
		}

		// Slider controls
		.bx-controls-direction{

			.bx-prev,.bx-next{
				height: 100%;
				top: 0;
				margin-top: 0;
				width: 100%;
				z-index:10;
				background: rgba(0, 0, 0, 0);
				transition: background .3s ease-in-out;

				&:hover{
					background: rgba(0, 0, 0, 0.6);
				}
			}
			.bx-prev{
				left: -100%;
				margin-left: -1.1em;

				&:after{
					content:"";
					position:absolute;
					top: 50%;
				    margin-top: -20px;
				    right: 7%;
				}
			}
			.bx-next{
				// position:relative;
				right: -100%;
				margin-right: -1.1em;

				&:after{
				    left: 7%;
				}
			}
		}
	}
}
