.trend-loc{

	.bx-wrapper .bx-viewport{
		overflow:hidden;
	}

	&__slider{
		&__slide{

			& > div{
				position:absolute;
				bottom: 0;
    			width:100%;
			}

			&__text{
				padding:$base*3 $base*6 $base*3 40px;
				background:rgba(0,0,0,.5);
				color:white;
				@extend %center-text;

				&__location{
					font-size:$base*2;
					color:$brandColor;
					@extend %uppercase;
					@extend %font-weight-black;
					margin-bottom: 5px;
					letter-spacing: 0.16em;
					background: black;
				    display: inline-block;
				    padding: 0 10px;
				}
				&__title{
					@extend %uppercase;
					font-size:1.675em;
					margin-bottom:0;
				}
				&__para{
					display:none;
				}
				&__button{
					@extend %button-solid;
				}
			}
		}
	}

	@include breakpoint(600px){

		&__slider{
			&__slide{
				&__text{
					font-size:1.275em;
				}
			}
		}
	}

	@include breakpoint(800px){
		.bx-wrapper .bx-viewport{
			overflow:visible !important;
		}
		&__slider{

			&__slide{
				padding:0 1.1em;
				opacity:0.5;

				&.active-slide{
					opacity:1;
				}

				& > div{
    				padding-right: 2.2em;
				}

				&__text{
					padding:$base*4 $base*4 $base*4 $base*4;
					text-align: left;
					// bottom:initial;

					&__para{
						display:block;
						color:white;
					}

					&__title{
						font-size:2.075em;
					}
				}
			}
		}
	}
}