.trending-locations{
	overflow:hidden;
	background:$lightestGrey;
	padding-top:$base*6;
	position:relative;
	width:100%;


	&__title{
		@extend %center-text;
		@extend %uppercase;
		color:$primFontColor;
	}

	&__slider-container{
		overflow:hidden;
			
		@include breakpoint(800px){
			padding: 0 14%;
			// height: 800px;
		}

	}

	.bx-controls-direction{

		.bx-prev, .bx-next{
			z-index:10;
			transition: background .3s ease-in-out, transform .3s ease-in-out;

			&:after{
				width:40px;
				height:40px;
				opacity:0;
				content:"";
				position:absolute;
				top: 50%;
			    margin-top: -20px;
				background:url(images/svg/icon-carousel-arrow.svg) no-repeat;
				background-size:contain;
				transition: all .3s ease-in-out;
				transform:scale(0.8);

			}

			&:hover{
				background: rgba(0, 0, 0, 0.6);

				&:after{
					opacity:1;
					transform: scale(1);
					transform:translate(0,0);
				}
			}
		}

		.bx-prev{
			left: 0;

			&:after{
			    right: 7%;
			    transform:translate(20px,0);
			    background:url(images/svg/icon-carousel-arrow-prev.svg) no-repeat;
				background-size:contain;
			    // transform: scale(0.8);
			}
		}
		.bx-next{
			right: 0;

			&:after{
			    left: 7%;
			    transform:translate(-20px,0);
			}
		}
	}

	@include breakpoint(800px){
		display:block;
		background:none;
		padding-top:$base*17;

		&__title{
			color:white;
		}

		// Slider controls
		.bx-controls-direction{

			.bx-prev,.bx-next{
				height: 100%;
				top: 0;
				margin-top: 0;
				width: 100%;
				z-index:10;
				background: rgba(0, 0, 0, 0);
				transition: background .3s ease-in-out;

				&:hover{
					background: rgba(0, 0, 0, 0.6);
				}
			}
			.bx-prev{
				left: -100%;
				margin-left: -1.1em;

				&:after{
					content:"";
					position:absolute;
					top: 50%;
				    margin-top: -20px;
				    right: 7%;
				}
			}
			.bx-next{
				// position:relative;
				right: -100%;
				margin-right: -1.1em;

				&:after{
				    left: 7%;
				}
			}
		}
	}
}
