.trending-locations{
	overflow:hidden;
	background:$lightestGrey;
	padding-top:40px;


	&__title{
		@extend %center-text;
		@extend %uppercase;
		color:$primFontColor;
	}

	&__slider-container{
			
		@include breakpoint(800px){
			padding: 0 14%;
			// height: 800px;
		}

	}

	.bx-controls-direction{

		.bx-prev,.bx-next{
			height: 60px;
			top: 30%;
			margin-top: 0;
			width: 60px;
			z-index:10;
			background:url(images/svg/icon-carousel-arrow.svg) no-repeat;
			background:-size:contain;
			transition: background .3s ease-in-out;

			&:hover{
				background: rgba(0, 0, 0, 0.6);
			}
		}
		.bx-prev{
			left: 0;

		}
		.bx-next{
			right: 0;
		}
	}

	@include breakpoint(700px){
		display:block;
		background:none;

		&__title{
			color:white;
		}

		// Slider controls
		.bx-controls-direction{

			.bx-prev,.bx-next{
				height: 100%;
				top: 0;
				margin-top: 0;
				width: 100%;
				z-index:10;
				background: rgba(0, 0, 0, 0);
				transition: background .3s ease-in-out;

				&:hover{
					background: rgba(0, 0, 0, 0.6);
				}
			}
			.bx-prev{
				left: -100%;
				margin-left: -1.1em;
			}
			.bx-next{
				right: -100%;
				margin-right: -1.1em;
			}
		}
	}
}
