.small-underline{
	position:relative;
	padding-bottom: 15px;
    margin-bottom: $base*1;

	&:after{
		content:"";
		position:absolute;
		width:30px;
		height:3px;
		background:$brandColor;
		left:50%;
		right:50%;
		bottom:0px;
		margin-left:-15px;
	}
}