

// General Susy map used
$susy: (
  columns: 12,
  // gutters: 1/5,
  gutters: 1/2,
  container: 1280px,
  math: fluid,
  gutter-position: outside,
  global-box-sizing: border-box,
  flow: ltr
  // debug: (image: show),
);

// $nav_layout: layout( 12 0 fluid float inside);

// $clients_layout: (
//   columns: 12,
//   // gutters: 1/5,
//   gutters: 1/3,
//   container: 1280px,
//   gutter-position: outside,
//   global-box-sizing: border-box,
//   // debug: (image: show),
// );

// // Used on the photo cooking wall
$no-gutters: layout( 12 0 fluid float inside);



body, html{
	background: url("../../assets/images/baseline.png") repeat;
}

.main-wrapper{
  padding:40px 30px 60px 30px;
  @extend %center-block;
  height:100%;
  @include clearfix;

  @include breakpoint(500px){
    padding:60px 50px 80px 100px;
  }

  @include breakpoint(1480px){
    max-width:1280px;
    padding:$base*10 $base*8 $base*12 $base*8;
  }
}

.content-container{
	padding:0 30px;
	@include container;
}

.site-main{
  @include clearfix;
  padding:0 0 0 65px;
  // @extend .main-wrapper;
}

