

//---------------------------------------------- Fonts

	// Heading font
	$brandFont:"brandon-grotesque", sans-serif;



//---------------------------------------------- Colours

	// Main pink Colour
	$brandColor: #FF02AF;

	// Very dark grey
	$offBlack: #404040;

	// Primary copy font colour
	$primFontColor: #565656;

	// Light font grey
	$secFontColor: #9E9E9E;

	// Light font grey
	$thirdFontColor: #A0A0A0;

	// Solid lightest grey
	$lightestGrey: #F4F4F4;

	



//---------------------------------------------- Baseline ems
	
	// 6px baseline
	$base: 0.375em;






//---------------------------------------------- media queries vars

	// Medium
	$m: 560px;

	// Medium - large
	$m-l: 768px;
	
	// Large
	$l: 960px;
